.button {
    background-color: #453ba3;
  
    padding: 1.2rem 2.4rem;
  
    border: 2px solid #b11212;
    border-radius: 0.8rem;
  
    font-weight: 600;
    color: white;
  
    font-size: 1.6rem;
  }

  .caixa { display: block;  color: white;  background-color: #e02b57;  width: 100px;  height: 100px;  margin: 10px;  text-align: center;}CSS: Intermediário  ·  Posicionamento

  .registro {margin-top: 200px;margin-left: 200px;  width: 150px;  height: 50px;  border: 2px solid black;  background-color: #e02b57;  text-align: center;}Resultado:CSS: Intermediário  ·  Pseudo classes


  body {background-color: #e02b57;}.navbar {list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: #333;position: fixed;width: 100%;}li {float: left;}li a {display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;}


  body{  .navbar {bottom: 10px;position: fixed;  }}
